* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  margin-top: 30px;
  font-size: 3rem;
  color: transparent;
  background: linear-gradient(135deg, #7e9cff, #8e75ff);
  background-clip: text;
}

.eas-container {
  display: flex;
  justify-content: center;
  align-items: self-start;
  gap: 40px;
}

.grid-container {
  box-sizing: content-box;
  border: 1px solid #7e9cff;;
  width: var(--container-size);
  height: var(--container-size);
  display: flex;
  flex-wrap: wrap;
}

.square {
  border: 1px solid #7e9cff;
  width: var(--square-size);
  height: var(--square-size);
  cursor: default;
  user-select: none;
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

button {
  background: linear-gradient(135deg, #7e9cff, #8e75ff);
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(126, 156, 255, 0.4);
}

button:hover {
  background: linear-gradient(135deg, #8e75ff, #7e9cff);
  box-shadow: 0 6px 12px rgba(126, 156, 255, 0.5); 
}

button.active-change:active {
  background: linear-gradient(135deg, #6a54c9, #5c48b3);
  box-shadow: 0 2px 4px rgba(126, 156, 255, 0.3); 
}

#rainbow-mode.rainbow {
  background: linear-gradient(90deg, 
    red, 
    orange, 
    yellow, 
    green, 
    blue, 
    indigo, 
    violet
  );
}

#clear {
  margin-top: 25px;
}

.color-picker {
  display: none;
}